@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

header{
	background: rgb(1, 127, 255);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	display: block;
	color: white;
	height: 100px;
}
header a{
	text-decoration: none;
	color: white;
	font-size: 11px;
}
header a:hover{
	color: white;
}

.left{
	float: left;
	padding: 20px 0px 5px 60px;
}
.right{
	float: right;
	padding-right: 90px;
}

span.size-small{
	font-size: 11px;
}

input {
  width: 100%;
  height: 35px;
  border:none 5px #000000;
-moz-border-radius-topleft: 9px;
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:0px;
-webkit-border-top-left-radius:9px;
-webkit-border-top-right-radius:0px;
-webkit-border-bottom-left-radius:7px;
-webkit-border-bottom-right-radius:0px;
border-top-left-radius:9px;
border-top-right-radius:0px;
border-bottom-left-radius:7px;
border-bottom-right-radius:0px;
}

main{
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	display: block;
	background-color: #F8F8FF;
}

.item{
	width:210px;
 	height:320px;
 	margin:3px;
 	text-align:center;
 	float:left;
}
.gia{
	font-weight:bold;
}
.image-item{
	width:200px;
 	height:200px;
}

.icon{
	width:103px;
 	height:55px;
 	margin:3px;
 	text-align:center;
 	float:left;
}
.image-icon{
	width:48px;
 	height:48px;
}
.name-icon{
	padding-top: 10px;
	font-size: 13px;
    font-weight: normal;
}

.quangcao{
	width: 279px;
	float: left;
	padding: 8px;
}
.image-quangcao{
	width: 100%;
	border:none 5px #000000;
-moz-border-radius: 18px;
-webkit-border-radius: 18px;
border-radius: 18px;
}

.title-danhmuc{
	font-size: 19px;
}
.danhmuc{
	width:103px;
 	height:55px;
 	margin:3px;
 	text-align:center;
 	float:left;
}
.image-danhmuc{
	width:60px;
 	height:60px;
 	border-radius: 10px;
}
.name-danhmuc{
	padding-top: 10px;
}
.xemthem{
	color: #1E90FF;
	float: right;
	font-size: 19px;
}

.top-find{
	width:260px;
 	margin:5px;
 	float:left;
 	border:solid 1px #a3a3a3;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.image-top-find{
	padding-left: 5px;
	padding-top: 5px;
	width:80px;
 	height:80px;
}
.border-color{
	border:none 5px #000000;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

.an-image{
	margin: 10px;
	width: 350px;
	padding-top: 8px;
	padding-bottom: 8px;
	float: left;
	border:none 0px #000000;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}

.tap{
	height: 35px;
	margin-left: 30px;
	margin-right: 30px;
}

.sanpham{
	float: left;
	width: 220px;
	padding: 8px 10px;
}
.sanpham:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 
20px 0 rgba(0, 0, 0, 0.19);
}
.image-sanpham{
	width: 200px;
	height: 200px;
}
.name-sanpham{
	padding-top: 15px;
}
.giamgia{
	background-color: #ff5959; 
	border-radius: 2px;
}
.gia{
	font-size: 14px;
}

.nutxemthem{
	width: 250px;
	height: 35px;
	color: #1E90FF;
	border:solid 1px #1E90FF;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
}
.xem{
	padding-top: 6px;
}
.nutxemthem:hover{
	color: white;
	background-color: #1E90FF;
}

.email{
	width: 300px;
	border:solid 1px #6b6b6b;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

footer{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: rgb(255 255 255);
}
footer a{
	text-decoration: none;
	color: black;
}
footer a:hover{
	color: black;
}
footer p{
	padding-top: 15px;
}
.content-footer{
	padding-left: 25px;
	padding-top: 25px;
	width: 260px;
	float: left;
}
.taitho{
	font-size: 14px;
	font-weight: bold;
}
.diachi{
	width: 1200px;
	float: left;
}
.cach{
	padding-top: 15px;
}
.downs-app{
	width: 125px;
	margin-top: 15px;
}

.dd{
	position: relative;
	display: inline-block;
}
.dd-content{
	display: none;
	position: absolute;
	min-width: 200px;
	padding: 12px 16px;
	z-index: 100;
	color: black;
}
.dd:hover .dd-content{
	display: block;
	background-color: white;
}
.im{
	padding-top: 6px;
	border:none 0px #000000;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
}